$var1: #ffffff
$var2: #3574FF
$var3: #c7a245
$var4: #ECF1FA
.calc-block
    width: 100%
    
.stat-block
    width: 80%
    margin-left: 10%    
.num
    font-family: RoadRadio
    font-style: normal
    font-weight: bold
    font-size: 50px
    line-height: 56px
    color: $var2
.text-stat
    font-family: RoadRadio
    font-style: normal
    font-weight: bold
    font-size: 26px
    line-height: 120%
    color: $var4

.service-inner
    width: 100%
    padding: 10%
    height: auto
    background-color: $var4
    border-radius: 5px
    text-shadow: none
    h3
        font-family: RoadRadio
        font-style: normal
        font-weight: bold
        font-size: 26px
        line-height: 120%
        color: #48546D

ul
    width: 100%
    padding: 30px 0
    border-top: 1px solid #E3E6EB
    border-bottom: 1px solid #E3E6EB
    margin: 30px 0
    .li-price
        font-family: Circe
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 28px
        color: #48546D
    .li-price::marker
        color: $var2
        width: 10px
        height: 10px

.price

    width: 100%
    height: 122px

    border-radius: 8px
    background: linear-gradient(0.25turn, #12347e, $var2)

    img
        margin-top: 18px
        border-radius: 8px
    .text-ptice
        padding: 20px 0 0 10px
        color: $var1

        p
            font-family: Circe
            font-style: normal
            font-weight: bold
            font-size: 30px
            line-height: 36px

.calc
    width: 80%
    margin: 50px 10%
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
    border-radius: 5px
    padding: 20px
    text-shadow: 5px 5px 10px black
    .text-active
        color: $var2
.data-block
   
    padding: 10px
    width: 50%   
  
    h2
        margin-bottom: 25px
    
    
.block-flex
    display: flex
    align-items: start
    justify-content: space-between
    flex-wrap: wrap

.no-wrap
    flex-wrap: nowrap
.block-rate
    width: 100%
    height: auto
    .button__rate
        height: 40px
        left: 0px
        top: 0px
        border-radius: 4px
        border: 1px solid #E3E6EB
        padding: 10px 20px
        background: $var1
        color: $var2

    .button__active
        background: $var2
        border-radius: 4px        
        margin-bottom: 20px
        border: 1px solid $var2
        color: $var1

.block-range
    width: 100%
    padding: 20px 0
    margin-top: 20px
    .block-range__item
        width: 45%
        p
            display: flex
            align-items: center
            justify-content: space-between
            margin-bottom: 4px
        input
            width: 100%
            margin-bottom: 4px


.d-none
    display: none
.form-btn
    width: 100%
    padding: 20px 0px
    background-color: $var2
    color: $var1
    border-radius: 4px
    border: 2px solid $var2

.block-type
    width: 50%    
    padding-top: 50px
    .item-type
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 10px

// input[type='range']::-webkit-slider-thumb
//     width: 40px !important
//     -webkit-appearance: none
//     height: 40px
//     cursor: ew-resize
//     background: red
//     border: 20px
body
    // background-color: #6499b1

@media screen and ( max-width: 956px )  
    .calc  
        .data-block        
            width: 100%
    .block-rate
        width: 60%     


@media screen and ( max-width: 576px )
    
    .stat-block  
        .data-block        
            width: 100%
    .block-range
        .block-range__item 
            width: 100%  
    .block-rate
        width: 100%  
    .calc
        width: 100%
        margin: 0   
  